       body {
            margin: 0px;
            padding: 0px;
            background: url('img.jpg');
            background-repeat: no-repeat;
            background-size: 1365px 700px;
        }
        .left{
            display: inline-block; 
            position: absolute;
            left: 8px;
            top: -5px;
            font-size: 60px;
            font-family: 'Hanalei', cursive;
            padding: 5px;
            font-style: normal;
        }
        .left a{
            color: blue;
            text-decoration: none;
        }
        .mid{
            display: block;
            width: 40%;
            margin: 1px 480px;
            border: 2px solid white;
        }
        .right{
            display: inline-block;
            position: absolute;
            right: 8px;
            top: 20px;
        }
        .navbar li{
            display: inline-block;
            list-style-type: none;
        }
        .header{
            background-color: white;
            box-shadow: 0px 4px 8px grey;
            top: 0px;
        }
        .navbar li a{
            color: black;
            text-decoration: none;
            font-size: 26px;
            padding: 5px;
            font-family: Georgia, 'Times New Roman', Times, serif;
            font-weight: lighter;
        }
        #to{
            padding-right: 6px;
        }
        .navbar li a:hover{
            text-decoration: underline;
            color: lightblue;
        }
        .container{
            border: 2px solid black;
            margin: 22px 20px;
            padding: 35px 65px;
            padding-bottom: 35px;
            padding-top: 2px;
            width: 33%;
            border-radius: 15px;
            font-size: 30px;
        }
        .heading{
            font-size: 62px;
            font-family: 'Playfair Display', serif;
            display: inlines;
            text-align: center;
            margin-top: 66px;
        }
        .can{
            font-size: 30px;
            display: inline;
            text-align: center;
            margin: 550px;
        }
        .xyz input{
            text-align: center;
            display: block;
            width: 290px;
            padding: 5px;
            border: 2px solid black;
            margin: 12px auto;
            border-radius: 10px;
        }
        .container button{
            display: block;
            margin: 5px auto;
            width: 50%;
            height: 30px;
        }
        .container h1{
            text-align: center;
            font-size: 50px;
        }
        .btn{
            border-radius: 10px;
            background-color: rgb(224, 169, 16);
            padding: 10px 10px;
            margin-top: -11px;
            size: 50px;
            margin-right: 60px;
            width: 160px;
            height: 55px;
            cursor: pointer;
            font-size: medium;
            color: white;
        }
        #btn{
            border-radius: 10px;
            background-color: rgb(224, 169, 16);
            padding: 10px 10px;
            margin-left: 25px;
            size: 50px;
            width: 160px;
            height: 55px;
            cursor: pointer;
            font-size: medium;
            color: white;
        }
        #btn:hover{
            background-color: grey;
        }
        .btn:hover{
            background-color: grey;
        }
        #bt{
            cursor: pointer;

            \
        }
        .book {
            background-color: white;
            padding-top: 15px;
            border: 2px solid white;
            border-radius: 20px;
            display: block;
            width: 1185px;
            height: 165px;
            margin: auto;
            margin-bottom: 40px;
            margin-top: -15px;
            box-shadow: 5px 6px 10px grey;
        }
        .booking li{
            padding-top: 10px;
            list-style-type: none;
            display: inline-block;
        }
        #a{
            display: inline;
            padding-top: 7px;
            padding-bottom: 7px;
            padding-left: 10px;
            padding-right: 10px;
            margin-left: -192px;
            margin-right: 5px;
            margin-top: 2px;
            margin-bottom: 2px;
        }
        #b{
            display: inline;
            padding-top: 7px;
            padding-bottom: 7px;
            padding-left: 10px;
            padding-right: 10px;
            margin-left: 38px;
            margin-right: 5px;
            margin-top: 2px;
            margin-bottom: 2px;
        }
        #c{
            display: inline;
            padding-top: 7px;
            padding-bottom: 7px;
            padding-left: 10px;
            padding-right: 10px;
            margin-left: 38px;
            margin-right: 5px;
            margin-top: 2px;
            margin-bottom: 2px;
        }
        #d{
            display: inline;
            padding-top: 7px;
            padding-bottom: 7px;
            padding-left: 10px;
            padding-right: 10px;
            margin-left: 38px;
            margin-right: 5px;
            margin-top: 2px;
            margin-bottom: 2px;
        }
        #e{
            display: inline;
            padding-top: 7px;
            padding-bottom: 7px;
            padding-left: 10px;
            padding-right: 10px;
            margin-left: 38px;
            margin-right: 5px;
            margin-top: 2px;
            margin-bottom: 2px;
        }
        ul{
            padding-top: 2px;
            margin-top: 7px;
            margin-bottom: 30px;
            text-align: center;
            padding-left: 0px;
            font-weight: bold;
            font-size: 25px;
        }
        #date1{
            border-radius: 10px;
            border: 2px solid rgb(224, 169, 16) ;
            display: inline;
            padding-top: 7px;
            padding-bottom: 7px;
            padding-left: 10px;
            padding-right: 10px;
            margin-left: 38px;
            margin-right: 5px;
            margin-top: 2px;
            margin-bottom: 2px;
        }
        #date2{
            border-radius: 10px;
            border: 2px solid rgb(224, 169, 16) ;
            padding-top: 7px;
            padding-bottom: 7px;
            padding-left: 10px;
            padding-right: 10px;
            margin-left: 61px;
            margin-right: 5px;
            margin-top: 2px;
            margin-bottom: 2px;
        }
        #adults{
            border-radius: 15px;
            border: 2px solid rgb(224, 169, 16) ;
            width: 69px;
            height: 50px;
            padding-top: 7px;
            padding-bottom: 7px;
            padding-left: 10px;
            padding-right: 10px;
            margin-left: 77px;
            margin-right: 5px;
            margin-top: 2px;
            margin-bottom: 2px;
        }
        #child{
            border-radius: 15px;
            border: 2px solid rgb(224, 169, 16) ;
            width: 69px;
            height: 50px;
            padding-top: 7px;
            padding-bottom: 7px;
            padding-left: 10px;
            padding-right: 10px;
            margin-left: 57px;
            margin-right: 5px;
            margin-top: 2px;
            margin-bottom: 2px;
        }
        #rooms{
            border-radius: 15px;
            border: 2px solid rgb(224, 169, 16) ;
            width: 69px;
            height: 50px;
            padding-top: 7px;
            padding-bottom: 7px;
            padding-left: 10px;
            padding-right: 10px;
            margin-left: 75px;
            margin-right: 5px;
            margin-top: 2px;
            margin-bottom: 2px;
        }
        #fun{
            font-size: 65px;
            text-align: center;
            font-family: serif;
            font-weight: 700;
        }
        #i{
        width: 583px;
        height: 350px;
        margin-left: 45px;
        }
        #ii{
        position: absolute;
        margin-top: -505px;
        width: 583px;
        height: 350px;
        margin-left: 700px;
        }
        .box{
            border: 2px solid black;
            display: inline-block;
        }
        #cbd span{
            display: block;
            margin-top: -3px;
            margin-left: 44px;
            padding-top: 20px;
            width: 584px;
            height: 133px;
            text-align: center;
            font-size: 45px;
            background-color: white;
            text-decoration: none;
            box-shadow: 5px 6px 10px grey;
        }
        #cbd span a{
            text-decoration: none;
            color: rgb(8, 8, 8);
        }
        #cbd span a:hover{
            color: rgb(224, 169, 16) ;
        }
        #cdb span{
            display: block;
            margin-top: -154px;
            margin-left: 700px;
            padding-top: 20px;
            width: 584px;
            height: 133px;
            text-align: center;
            font-size: 45px;
            background-color: white;
            text-decoration: none;
            box-shadow: 5px 6px 10px grey;
        }
        #cdb span a{
            text-decoration: none;
            color: rgb(8, 8, 8);
        }
        #cdb span a:hover{
            color: rgb(224, 169, 16) ;
        }
        #you{
            border-radius: 10px;
            background-color: rgb(224, 169, 16);
            padding: 10px 10px;
            margin-left: 590px;
            size: 50px;
            width: 170px;
            height: 65px;
            cursor: pointer;
            font-size: 19px;
            color: white;
        }
        #you:hover{
         background-color: grey;
        }
        h3{
            margin-top: 35px;
            margin-bottom: 35px;
        }
